<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="vamo_a_intentar_mandar_midi_a_traves_de_una_tecla_asheiii.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <vamo_a_intentar_mandar_midi_a_traves_de_una_tecla_asheiii.Settings>
            <setting name="Key" serializeAs="String">
                <value />
            </setting>
            <setting name="OutputDevice" serializeAs="String">
                <value />
            </setting>
            <setting name="pedalOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="pedalPort" serializeAs="String">
                <value />
            </setting>
        </vamo_a_intentar_mandar_midi_a_traves_de_una_tecla_asheiii.Settings>
    </userSettings>
</configuration>